 /* Syling for main section */
 .container {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    padding: 10px; 
    
} 
a {
    margin-left: 10px;
}
#timeleft {
    float: right;
    margin-right: 30px;
}
h1 {
    text-align: center;
}
h2 {
    margin: auto;
    text-align: left;
}
/* Styling for Start Quiz button */
#startquiz {
    background-color: rgb(131, 26, 131);
    font-size: large;
    color: white;
    margin-top: 10px;
    position: relative;
    top: 50px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}
.quiz-section {
    font-size: 16px;
    color: rgb(7, 7, 43);
    font-weight: bold; ;
}
/* Styling for buttons */
.ansbtn, #Submit{
    background-color: rgb(131, 26, 131);
    color: white;
    margin: 5px;
}

#goback, #clear {
    background-color: rgb(131, 26, 131);
    color: white;
    margin-top: 15px;
    
}
/* Styling for dynamically added list items */
li {
    list-style: none;
    background-color: rgb(252, 231, 252);
    margin-top: 10px;
    padding: 5px 15px;
    width: 40%;
    font-size: 14px;
    color: black;
} 
/* Styling for app to be responsive */
@media screen and (max-width: 640px) {
    
   #wrapper {
       position: absolute;
       left: 10%;
   }
     a {
         margin-left: 10%;
     } 
} 