 .container {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    padding: 10px; 
    
} 
#timeleft {
    float: right;
    margin-right: 30px;
}

h1 {
    text-align: center;
}

h2 {
    margin: auto;
    text-align: left;
}
#startquiz {
    background-color: rgb(131, 26, 131);
    font-size: large;
    color: white;
    margin-top: 10px;
    position: relative;
    top: 50px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
}

.ansbtn {
    background-color: rgb(131, 26, 131);
    color: white;
    margin: 5px;
}

#goback, #clear {
    background-color: rgb(131, 26, 131);
    color: white;
    margin: 15px;
}
li {
    list-style: none;
    background-color: rgb(252, 231, 252);
    margin-top: 10px;
    padding: 5px 15px;
    width: 40%;
    font-size: 14px;
    color: black;
} 

@media screen and (max-width: 640px) {
    
   #wrapper {
       position: absolute;
       left: 10%;
   }
     a {
         margin-left: 10%;
     } 
} 